.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}
.select-btn {
  cursor: pointer;
  height: 40px;
  padding: 0 20px;
  border-radius: 7px;
  background: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-btn span {
  font-size: 1.7rem;
  color: var(--color-font);
}
.select-btn i {
  transition: transform 0.3s;
  font-size: 1.7rem;
  color: var(--color-font);
}
.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}
.content {
  display: none;
  margin-top: 15px;
  padding: 20px;
  border-radius: 7px;
  background: #fff;
  margin-left: 10px;
}
.content .search {
  position: relative;
}
.wrapper.active .content {
  display: block;
}
.search input {
  height: 53px;
  width: 100%;
  font-size: 1.2rem;
  outline: none;
  border-radius: 5px;
  padding: 0 15px 0 43px;
  border: 1px solid #b3b3b3;
}
.search i {
  position: absolute;
  left: 15px;
  line-height: 53px;
}
.content .options {
  list-style-type: none;
  padding-right: 10px;
  margin-top: 10px;
  overflow-y: auto;
  max-height: 250px;
}
.options::-webkit-scrollbar {
  width: 7px;
}
.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
  height: 50px;
}
.options li {
  height: 50px;
  border-radius: 5px;
  background: var(--color-bg);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.options li:hover {
  background-color: #4286f43c;
  color: black;
}
